:root {
    /*neutral colors*/
    --white: hsl(0, 0%, 100%); /*main heading, stats*/
    --slightly-transparent-white-75: hsla(0, 0%, 100%, 0.75); /*main paragraph*/
    --slightly-transparent-white-6: hsla(0, 0%, 100%, 0.6); /*stat headings*/

    /*primary colors*/
    --dark-desaturated-blue : hsl(244, 38%, 16%); /*(card background)*/
    --soft-violet : hsl(277, 64%, 61%); /*(accent)*/
    --very-dark-blue:  hsl(233, 47%, 7%); /*main background*/
}


* {
    box-sizing: border-box;
}


body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-top: 17.5vh;
    padding-bottom: 21.5vh;
    background-color: var(--very-dark-blue);
    font-size: 15px;
}



/*container and card*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 60vh;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    width: 100%;
    border-radius: 15px;
    background-color: var(--dark-desaturated-blue);
    overflow: hidden;
}



/*components*/
img {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: auto;
    margin-bottom: 2.8em;
}

.card-body,
.card-footer {
    grid-column-start: 1;
    grid-column-end: 2;
}


.card-body {
    grid-row-start: 2;
    grid-row-end: 3;
    padding-right: 2em;
    padding-left: 2em;
    text-align: center;
}


.card-body__title {
    margin: 0;
}



/*card-components-content*/
.card-body__paragraph {
    margin-top: 1.5em;
    margin-bottom: 2.8em;
    line-height: 1.7em;
    width: 100%;
}

.card-footer {
    padding-right: 2.5em;
    padding-left: 2.5em;
    padding-bottom: 2.5em;
    grid-row-start: 3;
    grid-row-end: 4;
}

.card-footer {
    height: 100%;
    align-self: center;
}

.card-footer__stats {            
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.card-footer__stats--without-bullets {
    list-style-type: none;
    padding-left: 0;
}

.card-footer__stats div{
    margin-bottom: .4em;
}

.card-footer__stats li {
    margin: 0;
    min-width: 150px;
    min-height: 5em;
}



/*fonts*/
.card-footer__stats-heading--uppercase {
    text-transform: uppercase;
}

.card-body__title--inter-type-bold,
.card-footer__stats--inter-type-bold {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
}

.card-footer__stats--inter-type-bold {
    font-size: 1.6em;
}

.card-body__paragraph--lexend-deca-type,
.card-footer__stats-heading--lexend-deca-type {
    font-size: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.card-footer__stats-heading--lexend-deca-type {
    font-size: 0.9em;
    letter-spacing: 0.05em;
}


/*color-font*/
.card-body__title--violet {
    color: var(--soft-violet);
}

.card-body__paragraph--transparent-white-76 {
    color: var(--slightly-transparent-white-75); 
}

.card-body__title--white,
.card-footer__stats--white{
    color: var(--white);
}

.card-footer__stats-heading--transparent-white-6 {
    color: var(--slightly-transparent-white-6);
}


/*footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    color: #fff;
    background-color: #000;
}


/*Media Queries -- 1024px*/
@media screen and (min-width: 1024px) {

    body {
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .container {
        width: 90%;
        max-width: 1152px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .card {
        display: grid;
        grid-template-columns: 1fr 576px;
        grid-template-rows: repeat(3, 33.33%);
        width: 100%;
        height: 475.73px;
        border-radius: 15px;
        background-color: var(--dark-desaturated-blue);
        overflow: hidden;
    }

    img {
        min-width: 576px;
        max-width: 100%;
        height: auto;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        margin-bottom: 0;
    }

    .card-body {
        min-width: 387px;
        max-width: 576px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        padding-top: 5em;
        padding-left: 4em;
        padding-right: 8em;
        text-align: left;
    }

    .card-footer {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-left: 3em;
        padding-bottom: 2.5em;
        font-size: 1.1rem;
    }

    .card-footer ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0;
    }

    .card-footer__stats li {
        margin: 0;
        min-width: 140px;
        min-height: 5em;
    }




    


    
    


}

